<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
				
<generatorConfiguration>
<!-- =================指定数据连接驱动jar地址-start================= -->
    <!-- <classPathEntry location="C:/m2/mysql/mysql-connector-java/5.1.30/mysql-connector-java-5.1.30.jar" /> -->
<!-- =================指定数据连接驱动jar地址-end================= -->
<!--=============================== hzblogs数据库配置-start======================================= -->
	<context id="DB2Tables" targetRuntime="MyBatis3">
		<!-- ====================== 数据库链接地址账号密码-start ====================== -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://localhost:3306/hzblogs" userId="root"
			password="root">
		</jdbcConnection>
		<!-- ====================== 数据库链接地址账号密码-end ====================== -->
		<!-- ====================== 生成bean类存放位置-start ====================== -->
		<javaModelGenerator targetPackage="com.qqspace.bean"
			targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
		<!-- ====================== 生成bean类存放位置-end ====================== -->
		<!--======================生成映射文件存放位置-start======================= -->
		<sqlMapGenerator targetPackage="mapping"
			targetProject="src/main/resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>
		<!--======================生成映射文件存放位置-end======================= -->
		<!--======================生成Dao类存放位置-start ======================-->
		<!--客户端代码 ，生成易于使用的针对Model对象和xml配置文件的代码 type = "ANNOTATEDMAPPER",生成Java 
			Model 和基于注解的Mapper对象 type = "MIXEDMAPPER" , 生成基于注解的Java Model 和相应的Mapper对象 
			type = "XMLMAPPER",生成SQlMap XML文件和独立的MAPPER接口 -->
		<javaClientGenerator type="XMLMAPPER"
							 targetPackage="com.qqspace.dao" targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>
	<!--======================生成Dao类存放位置-end ======================-->
	<!-- ===========================表信息配置-start============================== -->
<!-- 
		<table tableName="user_info" domainObjectName="User"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		<table tableName="user_password" domainObjectName="UserPassword"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		<table tableName="user_photo" domainObjectName="UserPhoto"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		<table tableName="user_recentlylogin" domainObjectName="UserRecentlyLogin"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		<table tableName="admin_info" domainObjectName="Admin"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		<table tableName="admin_photo" domainObjectName="AdminPhoto"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table> 
	
		<table tableName="label_info" domainObjectName="Label"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		<table tableName="article_info" domainObjectName="Article"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
			
		<table tableName="photoalbums_info" domainObjectName="PhotoAlbums"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		<table tableName="photodetail_info" domainObjectName="PhotoDetail"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		<table tableName="hitscount_info" domainObjectName="HitsCount"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		<table tableName="follow_info" domainObjectName="Follow"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		
		<table tableName="message_info" domainObjectName="Message"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		<table tableName="answering_info" domainObjectName="Answering"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		
		<table tableName="comment_info" domainObjectName="Comment"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		<table tableName="commentback_info" domainObjectName="CommentBack"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		<table tableName="commentlikecount_info" domainObjectName="CommentLikeCount"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		
		
		
		<table tableName="commentlikecount_info" domainObjectName="CommentLikeCount"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
		</table>
		-->
		
		<!-- ============================表信息配置-end============================== -->
	</context>
<!--=============================== hzblogs数据库配置-end======================================= -->
</generatorConfiguration>