.back_to_top{
    position: fixed;
    bottom:30px;
    right: 13%;
    border:1px solid #fff;
    background-color: rgb(255,255,255);
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
}
.back_to_top span {
	font-size: 32px;
	transition:all 1s;
	-moz-transition:all 1s; /* Firefox 4 */
	-webkit-transition:all 1s; /* Safari and Chrome */
	-o-transition:all 1s; 
}
.back_to_top:HOVER  span{
	color: red;
}