body {
	min-width: 786px;
	/* border: 1px solid red; */
	background: url(../images/bg.jpg);
}

.f_r {
	float: right;
	margin-top: 10px;
}

#topText {
	color: black;
	padding-top: 20px;
}

.cnt_input {
	border-radius: 20px;
	height: 28px;
	width: 114px;
	color: #79848c;
	font-weight: bolder;
	font-size: 15px;
	text-align: center;
	background: rgb(213, 222, 222);
	float: left;
}

hr {
	margin-top: 54px;
}

.about_box {
	padding-right: 5px;
}

label {
	
}

.PageCode {
	display: inline-block;
	width: 849px;
	margin-left: 509px;
	margin-top: 22px;
}

.tcdPageCode {
	display: inline-block;
	color: #ccc;
}

.userN {
	margin-top: 14px;
}

.m-glist li {
	position: relative;
	width: 179px;
	min-height: 61px;
	margin: 3px;
	overflow: hidden;
	border-bottom: red solid 1px;
	padding-bottom: 10px;
	border-style: solid;
	border-color: rgba(162, 171, 153, 0.28);
	border-width: thin;
	margin-left: 18px;
	float: left;
	padding-right: 7px;
	box-shadow: rgba(204, 204, 204, 0.28) 1px 1px 1px 1px;
	margin-bottom: 12px;
}

.m-glist li:nth-child(2), .m-glist li:nth-child(1) {
	
}

li {
	list-style: none;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.m-glist .w-img2 {
	float: left;
	margin-right: 10px;
}

.m-glist .cnt {
	padding-top: 5px;
	height: 14px;
	overflow: hidden;
}

.m-glist .w-img2 {
	float: left;
	margin-right: 15px;
}

.w-img2-1, .w-img2-1 img {
	
}

.w-img2, .w-img2 img {
	margin: 6px;
	width: 58px;
	height: 58px;
}

/* ???????? */
.fn-clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.fn-clear {
	zoom: 1;
}

#club .modle .modle_con .modle_img {
	width: 50px;
	height: 79px;
	text-align: center;
}

#club .modle .modle_con .modle_img img {
	margin-top: 14px;
}

.fn-left, .fn-right {
	display: inline;
}

.fn-left {
	float: left;
}

#club .modle .modle_con .modle_text {
	width: 280px;
	height: 60px;
	overflow: hidden;
	margin-top: 15px;
	padding-left: 20px;
}

.fn-left, .fn-right {
	display: inline;
}

.fn-left {
	float: left;
}

.fn-right {
	float: right;
}

.txtHead {
	display: block;
	margin-top: 10px;
	margin-left: -20px;
	font-size: 20px;
}

.readmore {
	text-decoration: none;
	background: #e5e5e5;
	color: #898989;
	padding: 5px 10px;
	font-size: 18px;
}

.fn-right .txtHead {
	display: block;
	margin-top: 10px;
	margin-left: -20px;
	font-size: 20px;
}

.cancel {
	margin: auto;
	cursor: pointer;
	padding-top: 6px;
	float: right;
}
.cancel a{
	border: #fff 1px  solid;
	background-color: rgba(255,255,255,0.5);
	padding: 2px 4.5px;
	border-radius: 5px;
	
}
.cancel span{
	position:absolute;
	left:80px;
	background-color: rgba(142,142,142,0.17);
	border-radius: 10px;
	padding: 2px 4.5px;
	color: #767676;
	-webkit-transition:  0.5s all;
	-moz-transition:  0.5s all;
	-o-transition:  0.5s all;
	transition:  0.5s all;
}
.nssx{
	float: right;
	background-color: rgba(142,142,142,0.17);
	border-radius: 10px;
	padding: 2px 4.5px;
	color: #767676;
	cursor:pointer;
	-webkit-transition:  0.5s all;
	-moz-transition:  0.5s all;
	-o-transition:  0.5s all;
	transition:  0.5s all;
}
.readmore {
	background: #e5e5e5;
	color: #898989;
	padding: 5px 10px;
	font-size: 18px;
}

.input_text {
	padding-left: 5px;
	border: 1px solid #ccc;
	width: 158px;
	height: 26px;
	line-height: 26px;
	background-color: #e5e5e5;
}

.input_submit {
	background-color: #333;
	color: #FFF;
	margin-left: 5px;
	width: 50px;
	border: none;
	cursor: pointer;
	height: 28px;
	line-height: 28px;
	border-radius: 5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.tcdPageCode {
	display: inline-block;
	color: #ccc;
}

.tcdPageCode a {
	display: inline-block;
	color: #428bca;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	border: 1px solid #ddd;
	margin: 0 2px;
	border-radius: 4px;
	vertical-align: middle;
}

.tcdPageCode a:hover {
	text-decoration: none;
	border: 1px solid #428bca;
}

.tcdPageCode span.current {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	margin: 0 2px;
	color: #fff;
	background-color: #428bca;
	border: 1px solid #428bca;
	border-radius: 4px;
	vertical-align: middle;
}

.tcdPageCode span.disabled {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	margin: 0 2px;
	color: #bfbfbf;
	background: #f2f2f2;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	vertical-align: middle;
}

.PageCode {
	display: inline-block;
	margin-left: 266px;
	margin-top: 22px;
	margin-bottom: 10px;
}

.userN h4 {
	color: #000000;
	font-size: 12px;
	font-family: 宋体;
	padding-left: 14px;
	font-weight: normal;
}

.m-glist .cnt {
	color: rgba(0, 0, 0, 0.41);
}