table tr td input[type=text]{
	height: 23px;
}
table tr td{
		height: 35px;
}
table tr td textarea {
	padding-top: 3px;
	height: 120px;
}
table tr td input[type=button]{
margin-left: 18%;}
table tr td input[type=button],input[type=reset]{
	padding: 3px 15px;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid rgb(187, 187, 187);
	background: white;
	outline: none;
	cursor: pointer;
	
}

input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-transition-delay: 999999s;
        -webkit-transition: color 999999s ease-out, background-color 999999s ease-out;
    }

table tr{
padding: 0 auto;
}