<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>QQ空间 相册</title>

<link rel="icon"  th:href="@{/statics/images/img/favicon.ico}" type="image/x-icon" />
<link th:href="@{/statics/css/main.css}" rel="stylesheet">
<link th:href="@{/statics/css/detailpic.css}" rel="stylesheet" />

<link th:href="@{/statics/pic/css/photoshow.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/statics/pic/css/tipbox.css}" rel="stylesheet" type="text/css" />

<!-- 公用样式 -->
<link th:href="@{/statics/css/base.css}" rel="stylesheet">
<link th:href="@{/statics/css/index.css}" rel="stylesheet">
<!-- 弹窗样式 -->
<link th:href="@{/statics/js/artDialog/skins/opera.css}" rel="stylesheet">
<!-- 富文本框样式 -->
<link rel="stylesheet" th:href="@{/statics/js/kind/themes/default/default.css}" type="text/css">
<!-- 皮肤主题样式 -->
<link th:href="@{'/statics/css/'+${userModel.userTheme}}" rel="stylesheet">
<!--iconfont 样式 -->
<link th:href="@{/statics/css/iconfont.css}" rel="stylesheet">
<link th:href="@{/statics/css/backToTop.css}" rel="stylesheet">

</head>
<body>
	<div id="wrapper">
		<header>
			<div class="headtop"></div>
			<div class="logtop">
				<a th:href="@{${'/user/'+loginUser.userLogin+'/main.html' }}" title="返回博客首页">欢迎，<span
					th:text="${loginUser.userName}"></span>博客</a> <a href="#"
					id="skin" style="cursor: pointer" th:remove="${session.userSession.id == userModel.id ? 'none' : 'all' }">装扮</a> <a id="logout"
					onclick="doExit()" style="cursor: pointer;">|| 退出</a>
			</div>
			<div class="contenttop">
				<div class="logo f_l">
					<span><a href=""  th:text="${userModel.userName}">夏の花世界</a></span>
					<p th:utext="${userModel.userSignature}==''?'暂无个性签名':${userModel.userSignature}"></p>
				</div>

				<div class="blank"></div>
				<nav>
					<div class="navigation">
							<ul class="menu">
							<li><a th:href="@{${'/user/'+userModel.userLogin+'/main.html'}}" >首页</a></li>
							<li><a th:href="@{${'/user/att/'+userModel.userLogin+'/focus.html'}}">关注人</a></li>
							<li><a th:href="@{${'/user/atc/'+userModel.userLogin+'/article.html'}}"  >文章</a></li>
							<li><a th:href="@{${'/user/pic/'+userModel.userLogin+'/listpic.html'}}" class="bj">相册</a></li>
							<li><a th:href="@{${'/user/lea/'+userModel.userLogin+'/leave.html'}}">留言板</a></li>
						</ul>
					</div>
				</nav>

				<div class="search f_r">
					<form action="" method="post" name="searchform" id="searchform">
						<input name="keyboard" id="keyboard" class="input_text"
							value="请输入关键字" style="color: rgb(153, 153, 153);"
							onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}"
							onblur="if(value==''){this.style.color='#999';value='请输入关键字'}"
							type="text"> <input name="show" value="title"
							type="hidden"> <input name="tempid" value="1"
							type="hidden"> <input name="tbname" value="news"
							type="hidden"> <input name="Submit" class="input_submit"
							value="搜索" type="submit">
					</form>
				</div>
			</div>
		</header>
		<p id="message"  class="messagessm" align="center" ></p>
		<div class="jztop"></div>
		<!-- 相册图片展示开始 -->
		<div class="container" >
	
			<div class="con_content" >
				<div class="about_box" style="min-height: 768px;">
					<h2 class="nh1">
						<span> 
						<b><a th:href="@{${'/user/pic/'+userModel.userLogin+'/listpic.html'}}" id="goPhotos">返回相册</a></b>
						</span> 
						<b style="float: left; margin-right: 30px;">个人相册</b>
						<span style="float: left;">  
						<b><a href="javascript:;" id="upload">上传图片</a></b>
						<b><a href="javascript:;" id="batch" >批量操作</a></b>
						<b style="cursor:default ;font-size: 13px;" class="cz1">|</b>
						<b class="cz1"><a href="javascript:;" id="checkedAll" >	选择全部</a></b>
						<b class="cz1"><a href="javascript:;" id="delsimg" >删除</a></b>
						</span> 
					</h2>
					<div class="detaillistpic">
						<!-- 相册信息展示 开始-->
						<div class="lispic">
							<ul th:each="photoDetail : ${photoAlbumsModel.photoDetailModels}">
								<li th:attr="id=img+${photoDetail.pdId}" class="imggroup">	
									<div class="checkBoxs">
										<input class="checkbox" type="checkbox" name="item" th:value="${photoDetail.pdId}"  th:attr="id=check+${photoDetail.pdId}">
										<label  th:attr="for=check+${photoDetail.pdId}"></label>		
										</div>					
									<div >
									
										<img  th:src="@{${photoDetail.pdImgurl}}" alt=""  class="getPo">
										
										<a href="javascript:;" class="delPhoto" th:attr="mid=${photoDetail.pdId}">
											<span id="error" class="icon iconfont icon-error"></span>
											</a>
									</div>
									 
									<div >
										<b>描述：</b>
										<a href="javascript:;" class="upDesc" th:attr="mid=${photoDetail.pdId}">编辑</a>
										<a href="javascript:;" id="uppicimg" class="uppicimg" th:attr="mid=${photoDetail.pdId}"  style="margin-right: 22%" >设为封面</a>									
										<b  class="describe"  th:attr="id=describe+${photoDetail.pdId}" th:text="${photoDetail.pdDescription}"></b>																			
									</div>
								</li>
							</ul>
						<!-- 相册图片列表 结束-->
					</div>
					<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
   						 <div id="innerdiv" style="position:absolute;">
        				<img id="bigimg" style="border:5px solid #fff;" src="" />
   						 </div>
					
				</div>
				
			</div>
		</div>
	</div>

	<footer>
		<div class="footer">
			<div class="f_l">
				All Rights Reserved 版权所有：<a href="">Pandora工作室</a> 备案号：闽ICP备1234567890号
			</div>
			<div class="f_r textr">
				<p>Design by DanceSmile</p>
			</div>
		</div>
	</footer>
<button class="back_to_top" style="font-size: 12px; padding: 7px;display: none;">返回顶部</button>
<input type="hidden" id="pid"  th:value="${photoAlbumsModel.paId}" />
<input type="hidden" id="path" name="path" th:value="${#httpServletRequest.getContextPath()}" />
<script type="text/javascript" th:src="@{/statics/js/jquery-1.11.0.min.js}"></script>
<script type="text/javascript" th:src="@{/statics/js/artDialog/artDialog.js}"></script>
<script type="text/javascript" th:src="@{/statics/js/setskin.js}"></script>
<script type="text/javascript" th:src="@{/statics/js/artDialog/plugins/iframeTools.source.js}"></script>
<script type="text/javascript" th:src="@{/statics/js/kind/kindeditor-all-min.js}"></script>
<script type="text/javascript" th:src="@{/statics/js/kind/lang/zh-CN.js}"></script>	
<script type="text/javascript" th:src="@{/statics/js/message.js}"></script>
<script type="text/javascript"  th:src="@{/statics/js/photoDetail.js}"></script>
<script tyep="text/javascript" th:src="@{/statics/js/backToTop.js}"></script> 

</body>
</html>
