<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qqspace.dao.AdminMapper">
	<resultMap id="BaseResultMap" type="com.qqspace.bean.Admin">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="admin_name" jdbcType="VARCHAR" property="adminName" />
		<result column="admin_code" jdbcType="VARCHAR" property="adminCode" />
		<result column="admin_password" jdbcType="VARCHAR" property="adminPassword" />
		<result column="admin_address" jdbcType="VARCHAR" property="adminAddress" />
	</resultMap>
	<sql id="Base_Column_List">
		id, admin_name, admin_code, admin_password,admin_address
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from admin_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from admin_info
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.qqspace.bean.Admin"
		keyProperty="id" useGeneratedKeys="true">

		insert into admin_info (id, admin_name, admin_code,
		admin_password,admin_address)
		values (#{id,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR},
		#{adminCode,jdbcType=VARCHAR},
		#{adminPassword,jdbcType=VARCHAR}
		#{adminAddress,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.qqspace.bean.Admin"
		keyProperty="id" useGeneratedKeys="true">

		insert into admin_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="adminName != null">
				admin_name,
			</if>
			<if test="adminCode != null">
				admin_code,
			</if>
			<if test="adminPassword != null">
				admin_password,
			</if>
			<if test="adminAddress != null">
				admin_address,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="adminName != null">
				#{adminName,jdbcType=VARCHAR},
			</if>
			<if test="adminCode != null">
				#{adminCode,jdbcType=VARCHAR},
			</if>
			<if test="adminPassword != null">
				#{adminPassword,jdbcType=VARCHAR},
			</if>
			<if test="adminAddress != null">
				#{adminAddress,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.qqspace.bean.Admin">

		update admin_info
		<set>
			<if test="adminName != null">
				admin_name = #{adminName,jdbcType=VARCHAR},
			</if>
			<if test="adminCode != null">
				admin_code = #{adminCode,jdbcType=VARCHAR},
			</if>
			<if test="adminPassword != null">
				admin_password = #{adminPassword,jdbcType=VARCHAR},
			</if>
			<if test="adminAddress != null">
				admin_address = #{adminAddress,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.qqspace.bean.Admin">

		update admin_info
		set admin_name = #{adminName,jdbcType=VARCHAR},
		admin_code = #{adminCode,jdbcType=VARCHAR},
		admin_password =
		#{adminPassword,jdbcType=VARCHAR},
		admin_address =
		#{adminAddress,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectByNameAndPassword" parameterType="admin" resultMap="BaseResultMap">

		select
		<include refid="Base_Column_List" />
		from admin_info
		where admin_code = #{adminCode}
	</select>
</mapper>