<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qqspace.dao.LabelMapper">
  <resultMap id="BaseResultMap" type="com.qqspace.bean.Label">

    <id column="label_id" jdbcType="INTEGER" property="labelId" />
    <result column="label_name" jdbcType="VARCHAR" property="labelName" />
    <result column="label_userId" jdbcType="INTEGER" property="labelUserid" />
    <result column="label_createDate" jdbcType="TIMESTAMP" property="labelCreatedate" />
  </resultMap>
  <sql id="Base_Column_List">

    label_id, label_name, label_userId, label_createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select 
    <include refid="Base_Column_List" />
    from label_info
    where label_id = #{labelId,jdbcType=INTEGER} order by label_id
  </select>
  <select id="selectLabelsByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select 
    <include refid="Base_Column_List" />
    from label_info
    where label_userId = #{labelUserid,jdbcType=INTEGER} order by label_id
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from label_info
    where label_id = #{labelId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByLidAndUserid" >

    delete from label_info
    where label_id = #{labelId,jdbcType=INTEGER}
     and  label_userId = #{labelUserid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qqspace.bean.Label" keyProperty="labelId" useGeneratedKeys="true">

    insert into label_info (label_id, label_name, label_userId, 
      label_createDate)
    values (#{labelId,jdbcType=INTEGER}, #{labelName,jdbcType=VARCHAR}, #{labelUserid,jdbcType=INTEGER}, 
      #{labelCreatedate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qqspace.bean.Label" keyProperty="labelId" useGeneratedKeys="true">

    insert into label_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="labelId != null">
        label_id,
      </if>
      <if test="labelName != null">
        label_name,
      </if>
      <if test="labelUserid != null">
        label_userId,
      </if>
      <if test="labelCreatedate != null">
        label_createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="labelId != null">
        #{labelId,jdbcType=INTEGER},
      </if>
      <if test="labelName != null">
        #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="labelUserid != null">
        #{labelUserid,jdbcType=INTEGER},
      </if>
      <if test="labelCreatedate != null">
        #{labelCreatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.qqspace.bean.Label">

    update label_info
    <set>
      <if test="labelName != null">
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="labelUserid != null">
        label_userId = #{labelUserid,jdbcType=INTEGER},
      </if>
      <if test="labelCreatedate != null">
        label_createDate = #{labelCreatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where label_id = #{labelId,jdbcType=INTEGER}
  </update>
  <update id="updateByLidAndUserid" parameterType="com.qqspace.bean.Label">

    update label_info
    <set>
      <if test="labelName != null">
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>     
      <if test="labelCreatedate != null">
        label_createDate = #{labelCreatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where label_id = #{labelId,jdbcType=INTEGER}
    and label_userId = #{labelUserid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qqspace.bean.Label">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jul 17 13:36:21 CST 2019.
    -->
    update label_info
    set label_name = #{labelName,jdbcType=VARCHAR},
      label_userId = #{labelUserid,jdbcType=INTEGER},
      label_createDate = #{labelCreatedate,jdbcType=TIMESTAMP}
    where label_id = #{labelId,jdbcType=INTEGER}
  </update>
</mapper>